  <div class="grid grid-cols-4 gap-4">
    <% @menus.each do |menu| %>
      <%# 献立のカードを追加 %>
      <div class="bg-white rounded-lg shadow-lg overflow-hidden w-72">
        <%# 日付を表示 %>
        <div class="p-4 bg-gray-200">
          <h3 class="text-xl font-semibold text-center"><%= menu.date.strftime('%-m/%-d (%a)') %></h3>
        </div>
        <%# 動画を表示 %>
        <div class="p-4 relative" style="max-width: 600px; margin: 0 auto;">
          <div class="w-full h-0" style="padding-bottom: 56.25%;">
            <iframe class="absolute inset-0 w-full h-full object-cover object-center" src="https://www.youtube.com/embed/<%= menu.dish.video.video_id %>" frameborder="0" allow="fullscreen" style="top: 20px;"></iframe>
          </div>
        </div>
        <%# 変更ボタンを表示 %>
        <div class="p-4">
          <div class="p-4 flex justify-center">
            <%= link_to '変更する', edit_menu_path(menu.id), class: "btn btn-primary" %>
          </div>
      </div>
    <% end %>
  </div>
