<div class="flex flex-col items-center justify-center h-screen ">
  <h1 class="text-4xl mt-10 mb-8">献立がないようです。</h1>
  <%= form_with url: create_weekly_menu_path, method: :post, local: false do |f| %>
    <%= f.button '献立を作ってみる!',
      class: "btn btn-primary btn-lg hover:bg-yellow-400 active:bg-yellow-500",
      style: "background-color: orange;" %>
  <% end %>
</div>
