<h1 class="text-3xl font-bold mb-6 text-center">献立変更</h1>

<div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl">

  <%= form_with model: @menu, local: true, class: "w-full " do |f| %>
    <div class="px-4 py-5 bg-white space-y-6 sm:p-6">
      <div class="grid grid-cols-1 gap-6">
        <div>
          <%= f.label :dish_id, "献立を選択してください", class: "text-lg font-medium text-gray-700" %>
          <%= f.select :dish_id, options_for_select(@dishes.map {|d| [d.name, d.id]}, @menu.dish_id), {}, class: "select select-bordered w-full mt-1"%>
        </div>
      </div>
    </div>
    <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
      <%= f.submit '変更する', class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
