<div class="navbar bg-base-100">
  <div class="flex-1">
    <%= link_to (image_tag 'logo.png', alt: "MenuVid", size: "60x60"), menus_path(date: Date.today) %>
    <%= link_to 'MenuVid', root_path, class: "text-2xl normal-case font-bold" %>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li>
        <%= link_to t('defaults.login'), login_path, class: "hover:text-orange-500 active:text-orange-700 text-lg font-semibold transition duration-100" %>
      </li>
      <li>
        <%= link_to t('defaults.register'), new_user_path, class: "hover:text-orange-500 active:text-orange-700 text-lg font-semibold transition duration-100" %>
      </li>
    </ul>
  </div>
</div>
