<div class="navbar bg-base-100">
  <div class="flex-1">
    <%= image_tag "logo.png", alt: "MenuVid", size: "60x60" %>
    <a class="text-2xl normal-case font-bold">MenuVid</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><%= link_to '献立一覧', menus_path(date: Date.today), class: "hover:text-orange-500 active:text-orange-700 text-lg font-semibold transition duration-100" %></li>
      <li><%= link_to 'マイページ', profile_path,  class: "hover:text-orange-500 active:text-orange-700 text-lg font-semibold transition duration-100" %></li>
      <li><%= link_to 'ログアウト', logout_path, data: { turbo_method: :delete}, class: "hover:text-orange-500 active:text-orange-700 text-lg font-semibold transition duration-100" %></li>
    </ul>
  </div>
</div>
