<div class="my-8 p-4 bg-gray-50 rounded-lg text-center">
  <h1 class="text-3xl sm:text-4xl font-bold mb-6">動画を探しにいく</h1>
  <%= link_to '動画を探す', new_dish_path, class: "px-8 py-3 text-white font-semibold bg-indigo-500 rounded-md transition duration-300 hover:bg-indigo-600 focus:outline-none focus:ring focus:ring-indigo-300 focus:ring-opacity-50" %>
</div>
